.deptop {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 100%;
}

.logo__title {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.logo__icon {
  padding: 5px;
  margin-right: 20px;
  width: 40px;
  cursor: pointer;
  height: 40px;
}
/* Đối với tin chưa đọc, thêm dấu * ở đầu dòng */
.unread::before {
  content: "* ";
  color: red;
  margin-right: 4px;
}

/* Đối với tin đã đọc, làm mờ chữ */
.read {
  opacity: 0.6;
}

.logo__icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.userName {
  display: block;
  max-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}
.avatar__login {
  cursor: pointer;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}
.thongitnUser {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}
/* CSS cho pop-up đăng xuất */
.logout-popups {
  position: absolute;
  top: 50px; /* Đặt vị trí popup cách avatar 50px */
  right: 20px; /* Khoảng cách từ bên phải 20px */
  width: 190px; /* Chiều rộng 140px */
  height: 70px; /* Chiều cao 70px */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1000; /* Đảm bảo pop-up luôn ở trên cùng */
}

/* CSS cho nút đăng xuất */
.logout-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  padding: 10px;
}

/* Icon logout */
.logout-icon {
  width: 18px;
  height: 18px;
}

/* Hover effect */
.logout-button:hover {
  background-color: #f0f0f0;
}
